.Loginpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginbox {
  background-color: #dddddd;
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-bottom: 15px;
}

.form-group input {
  padding: 8px;
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
}

.auth-btn {
  width: 250px;
  padding: 8px;
  cursor: pointer;
}