.Profile {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 70px;
}

.profile-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  padding: 30px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.profile-content h2 {
  margin-bottom: 20px;
}

.profile-content p {
  margin: 10px 0;
  font-size: 18px;
}

.navbar {
  background-color: #bbbbbb;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}