.Registerpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registerbox {
  background-color: #dddddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  border-radius: 8px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-bottom: 15px;
}

.form-group input {
  padding: 8px;
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
}

.auth-btn {
  width: 250px;
  padding: 8px;
  cursor: pointer;
}